<template>
  <div class="shadow bg-transparent backdrop-blur fixed left-0 right-0 top-0">
    <div class="container mx-auto flex flex-row h-12 items-center px-2">
      <div class="text-2xl font-thin">dfgg服务器</div>
      <div class="flex-1"></div>
      <div>
        <a href="javascript:history.back()" class="hover:underline">返回上一页</a>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref } from "vue";
</script>
